<!doctype html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            /* Remove the navbar's default margin-bottom and rounded borders */
            .navbar {
                margin-bottom: 0;
                border-radius: 0;
            }

            /* Add a gray background color and some padding to the footer */
            footer {
                background-color: #f2f2f2;
                padding: 25px;
            }

            .carousel-inner img {
                width: 100%; /* Set width to 100% */
                margin: auto;
                min-height: 200px;
            }

            /* Hide the carousel text when the screen is less than 600 pixels wide */
            @media (max-width: 600px) {
                .carousel-caption {
                    display: none;
                }
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button
                        type="button"
                        class="navbar-toggle"
                        data-toggle="collapse"
                        data-target="#myNavbar"
                    >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="color: skyblue; font-weight: bold;">MoreMusic</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#"
                                ><span
                                    class="glyphicon glyphicon-log-in"
                                ></span>
                                Login</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container text-center">
            <h3>Selected Albums</h3>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <img
                        src="https://image.joox.com/JOOXcover/0/8c769a49ba798f42/1000?.jpg"
                        class="img-responsive"
                        style="width: 100%"
                        alt="Image"
                    />
                    <p>บ้าหอบฟาง</p>
                </div>
                <div class="col-sm-4">
                    <img
                        src="https://i.scdn.co/image/ab67616d0000b273c9e3d7d3d0713cfe5c8ae75b"
                        class="img-responsive"
                        style="width: 100%"
                        alt="Image"
                    />
                    <p>ผักชีโรยหน้า</p>
                </div>
                <div class="col-sm-4">
                    <img
                        src="https://musicstation.kapook.com/files_music2008/picture/0/2244.jpg"
                        class="img-responsive"
                        style="width: 100%"
                        alt="Image"
                    />
                    <p>กระดี่ได้น้ำ</p>
                </div>
                <div class="col-sm-4">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnJ21ptXK79hcmag7HrQ_W7U_-3FGcjDLZ0ft0u7DI0Q&s=10"
                        class="img-responsive"
                        style="width: 100%"
                        alt="Image"
                    />
                    <p>ฟักทอง</p>
                </div>
                <div class="col-sm-4">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQom3xCprKlK7xazCTwZ-MBuQ1Nte7UedLkuQ5Ey2SvA&s"
                        class="img-responsive"
                        style="width: 100%"
                        alt="Image"
                    />
                    <p>สับปะรด</p>
                </div>
                <div class="col-sm-4">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7xK3cOPBLJIKDYruAl4vmk_cm2050KpLjRyYkhDzfSg&s=10"
                        class="img-responsive"
                        style="width: 100%"
                        alt="Image"
                    />
                    <p>รุ้งกินน้ำ</p>
                </div>
                <div class="col-sm-4">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTEMFIMwLeOV4rkjX9t_sM7oPmm5FEe8YeKxkwNVr_1g&s=10"
                        class="img-responsive"
                        style="width: 100%"
                        alt="Image"
                    />
                    <p>บางอ้อ</p>
                </div>
                <div class="col-sm-4">
                    <img
                        src="https://i.scdn.co/image/ab67616d00001e02247b8e511a71f067140a4348"
                        class="img-responsive"
                        style="width: 100%;"
                        alt="Image"
                    />
                    <p>จินตนาการ</p>
                </div>
                <div class="col-sm-4">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-7OA7k3SlGzDiaIAW_5B6nAWdZHFv1SfB9tAQL3j_6if-I8fVl_cigqkE&s=10"
                        class="img-responsive"
                        style="width: 100%"
                        alt="Image"
                    />
                    <p>เด็กเลี้ยงแกะ</p>
                </div>
                <div class="col-sm-4">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6iL6jQXqXS8KD85sT7ekJ3zGfS4G3T_ODH5YxFjdUnw&s=10"
                        class="img-responsive"
                        style="width: 100%"
                        alt="Image"
                    />
                    <p>พักร้อน</p>
                </div>
            </div>
        </div>
        <br />

        <footer class="container-fluid text-center">
            <p>Footer Text</p>
        </footer>
    </body>
</html>
